<div class="docs">

    <div class="keywords">
        <label>Keywords</label>
        <p>Angular | TensorFlow | Artificial Intelligence | TypeScript | Simulation | A*</p>
    </div>

    <h2>Introduction</h2>
    <p>Welcome to the ant simulator software, you can browse through the different pages in this sidebar to read
        more about the project!</p>
    <img src='../../../../assets/images/ants_photo3.jpeg' class="img mat-elevation-z4"
        onerror="this.style.display='none'">
    <br>

    <h3>Topic introduction</h3>
    <p>
        An individual ant is not a very intelligent creature, however, ants have a wide range of responses to
        stimuli that often comes from chemicals created inside the ants' body, which is how they communicate.
        Observing a group of ants might make it look like a group of intelligent creatures, or even a single
        entity (often referred to as hivemind). Could it be possible to simplify and simulate this hive
        intelligence and group
        behavior?</p>

    <h3>Ants in real life</h3>
    <p>
        Find a video of ants and name at least 5 behavioral traits. Here's one to get you started! Ants walk in a
        straight line. Ants often walk in columns/lines, which has to do with them following scent (communication by
        pheromones).
        Even though our simulation is far too simple to be able to mimick the exact reasons why, we can reward the ants
        for walking in a column. Our solution: Traversing a cell another ant walked recently provides a pathfinding
        advantage, making the pathfinding cost analysis for the ant cheaper. This results in the ants having a
        preference for walking behind other ants.
        <img class="img mat-elevation-z4" src="../../../../assets/images/column.png">
        <br><br>
        Ants have different roles. Ants fulfill different types of roles in real ant colonies.
        Although in an actual ant colony the role will vary based on a number of factors, we made it so that an ant is
        created as a specific type.
    </p>

    <br>
    <p class="upnext">Up next: Cells and the game grid.</p>
</div>