<div class="container">
    <div class="header">
        <div class="logo">
            <a href="/" class="simple-text logo-mini">
                <div class="logo-img">
                    <img src="todo:logoafbeeldinghier>eenmierofzo" />
                </div>
            </a>
            <a href="/" class="simple-text logo-normal bold-text">
                Documentation
            </a>
        </div>
    </div>
    <div class="body">
        <app-page-intro *ngIf="pageKeeper.currentPage == 1"></app-page-intro>
        <app-page-cells *ngIf="pageKeeper.currentPage == 2"></app-page-cells>
        <app-page-entities *ngIf="pageKeeper.currentPage == 3"></app-page-entities>
        <app-page-ants *ngIf="pageKeeper.currentPage == 4"></app-page-ants>
        <app-page-algorithms *ngIf="pageKeeper.currentPage == 5"></app-page-algorithms>
    </div>
    <div class="footer">
        <app-page-handler style="width: 100%;" [pageKeeper]="pageKeeper"></app-page-handler>
    </div>
</div>