<div class="sidenav">
    <div class="logo">
        <a href="/" class="simple-text logo-mini">
        <div class="logo-img">
            <img src="todo:logoafbeeldinghier>eenmierofzo"/>
        </div>
        </a>
        <a href="/" class="simple-text logo-normal bold-text">
        Documentation
        </a>
    </div>
    <ul class="nav docs">
        <h2>Graphs</h2>
        <!-- <app-logs [logs]="logs" *ngIf="logs"></app-logs> --> <!--TODO: CLEANUP-->
        <h2>Functionality</h2>
        <p></p>
    </ul> 
</div>