.grid {
    background-color: black;
    border: 1px solid black;
    width: 150px;
    height: 150px;
    display: grid;
    grid-gap: 1px;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    pointer-events: none;
}

h3 span {
    font-size: 20px;
}