<div>
    width: <input [(ngModel)]="width">
    height: <input [(ngModel)]="height">
    enemyPercentage: <input [(ngModel)]="enemyPercent">
    foodPercentage: <input [(ngModel)]="foodPercent">
    <button (click)="createNewColony()">Generate</button>
</div>
<div>
    <button (click)="makeTurn()">make turn</button>
    <button (click)="addAnt()">Add ant</button>
    delay: <input [(ngModel)]="delay">
    <button (click)="togglePlaying()">{{isPlaying ? 'Pause' : 'Play'}}</button>
    <div>timer: {{timer}}s</div>
    <div>ants: {{colony.ants.length}}</div>
</div>
<app-grid [grid]="colony.grid" *ngIf="colony"></app-grid>