.container {
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
    // animation: rotate 4s cubic-bezier(0.68, -0.6, 0.32, 1.6) 0s infinite;
}
.grid {
    width: 100%;
    background-color: black;
    border: 1px solid black;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg) scale(0.3);
    }
    50% {
        transform: rotate(180deg) scale(0.8);
    }
    100% {
        transform: rotate(360deg) scale(0.3);
    }
}
