.cell {
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.entity {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}
.food {
    color: white;
}