<div class="cell" [ngStyle]="getCellStyle()" (click)="editCellDialog()">
    <div class="entity" *ngIf="cell.entity" 
        [class.entity_ant]="cell.entity.entityType == 0"
        [class.entity_colony]="cell.entity.entityType == 1" 
        [class.entity_enemy]="cell.entity.entityType == 2">

        <div class="ant" *ngIf="cell.entity.entityType == 0"
            [class.ant_gatherer]="cell.entity.antType == 0"
            [class.ant_soldier]="cell.entity.antType == 1"
            [class.ant_caretaker]="cell.entity.antType == 2">

        </div>
    </div>
</div>